.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background: url(./assets/Endless-Constellation.svg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
 
  font-size: calc(10px + 2vmin);
  color: white
 
}
.forms input{
  /* background: rgba(255, 255, 255, 0.239); */
  background:transparent;
  outline: none;
  padding: 12px;
  color: white;
  width: 39%;
  margin: 7px 45px;
  font-size:20px;
  font-weight: bold;
  border:none ;
  border-bottom: 2px solid white;


}
.forms form {
  display: flex;
  flex-direction: row;
 
}
.forms .btn{

  width: 13%;
  background: rgba(0, 0, 0, 0.39);
  outline: none;
  border: 2px solid white;
  border-radius: 17px;
  color: white;
  font-size:  1rem;
}

.btn:hover{
 background:green;
 cursor: pointer;
}
span {
  margin: auto;
  padding: 4px;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
}
