.App {
  text-align: center;
}

.App-header {
  background: url(./assets/Endless-Constellation.svg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
 
  font-size: calc(10px + 2vmin);
  color: white
 
}
.forms input{
  /* background: rgba(255, 255, 255, 0.239); */
  background:transparent;
  outline: none;
  color: white;
  width: 39%;
  margin: 7px;
  font-size:20px;
  font-weight: bold;
  border:none ;
  border-bottom: 2px solid white;


}
.forms form {
  display: flex;
  flex-direction: row;
 
}
.forms .btn{

  
  background: rgba(0, 0, 0, 0.39);
  box-shadow: 1px 2px 3px black;
  outline: none;
  border: 2px solid white;
  border-radius: 6px;
  color: white;
  font-size:  1.5rem;
}

.btn:hover{
 background:rgba(255, 252, 252, 0.753);
 cursor: pointer;
 color:black;
}
span {
  margin: auto;
  padding: 4px;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
}
